<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="shortcut icon" href="/assets/media/image/mainPage/header/favicon.png" type="image/x-icon">

    <title>
        <%= 'Course' + ' | SELFREE' %>
    </title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap" rel="stylesheet">


    <link rel="stylesheet" href="/assets/style/globalStyle.css" />
    <link rel="stylesheet" href="/assets/style/style.css" />
    <link rel="stylesheet" href="/assets/style/footer.css" />



    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/assets/style/Course/buttons.css" />
    <link rel="stylesheet" href="/assets/style/Course/main.css" />

    <link rel="stylesheet" href="/assets/style/Course/adaptive.css" />


    <script src="/bootstrap/js/bootstrap.min.js"></script>

    <!-- Yandex.Metrika counter -->
    <script type="text/javascript" >
        (function(m,e,t,r,i,k,a){m[i]=m[i]function(){(m[i].a=m[i].a[]).push(arguments)};
            m[i].l=1*new Date();
            for (var j = 0; j < document.scripts.length; j++) {if (document.scripts[j].src === r) { return; }}
            k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
        (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

        ym(97577664, "init", {
            clickmap:true,
            trackLinks:true,
            accurateTrackBounce:true,
            webvisor:true
        });
    </script>
    <noscript><div><img src="https://mc.yandex.ru/watch/97577664" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
    <!-- /Yandex.Metrika counter -->

</head>

<body>
<header class="d-flex flex-column" style="z-index: 3;">
    <a name="about_the_course"></a>
    <div class="d-flex align-items-center justify-content-between margins-header pt-5 mt-3" style="z-index: 3;">
        <div><img src="/assets/media/image/mainPage/header/logo.svg" class="size-logo" alt="SelFree"></img></div>
        <div class="d-flex ">
            <nav class="navbar navbar-expand-lg navbar-light ">
                <div class="container-xxl m-button-header">

                    <div class="collapse navbar-collapse " id="navbarNav">
                        <ul class="navbar-nav" style="line-height: 2;">
                            <li class="nav-item me-5">
                                <a class="nav-link active fs-4" aria-current="page" href="#about_the_course"><b>О курсе</b></a>
                            </li>
                            <li class="nav-item me-5">
                                <a class="nav-link active fs-4" aria-current="page" href="#tariff">Тарифы</a>
                            </li>
                            <li class="nav-item me-5">
                                <a class="nav-link active fs-4" aria-current="page" href="#reviews">Отзывы</a>
                            </li>
                            <li class="nav-item d-flex">
                                <a class="btn btn-purple " href="#cup-of-coffe">
                                    ПОПРОБОВАТЬ БЕСПЛАТНО
                                </a>
                            </li>
                        </ul>
                    </div>

                    <div class="mobile-menu-button" type="button" data-bs-toggle="offcanvas"
                         data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">
                        <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="#7B4DDE"
                             class="bi bi-list" viewBox="0 0 16 16">
                            <path fill-rule="evenodd"
                                  d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5" />
                        </svg>
                    </div>



                </div>
            </nav>

        </div>
    </div>

    <div class="margins-header">
        <div class="row">
            <div class="col d-flex flex-column justify-content-center">
                <div class="" style="z-index: 3;">
                    <h1 class="pb-5 font-size-header-text"><b>Онлайн-школа в которой вы
                            <span style="color: #7B4DDE">реально</span> овладеете языком</b>
                    </h1>
                    <p class="fs-2 adaptive-side-text">от "Hello" до свободного общения</p>
                </div>
                <div class="hide-mobile">
                    <a href="#tariff" class="btn btn-yellow mt-5">
                        НАЧАТЬ ОБУЧЕНИЕ
                    </a>
                </div>
            </div>
            <div class="col d-flex ">

                <div class="containerMainImg">
                    <img src="/assets/media/image/header/gipno.svg" alt="Изображение 1"
                         class="hypnotize bottom-image-header">
                    <img src="/assets/media/image/header/Suren1.png" alt="Изображение 2"
                         class="animateSuren ">
                    <div class="info-plate top-image-header d-flex p-3 align-items-center justify-content-evenly">
                        <div>
                            <p>ДОСТУПНАЯ ЦЕНА</p>
                            <p class="fs-5"><b>от 250 ₽/час</b></p>
                        </div>
                        <div class="vr"></div>
                        <div>
                            <p>ДАЖЕ С НУЛЯ</p>
                            <p class="fs-5"><b>от A1 до C1</b></p>
                        </div>
                    </div>



                </div>
            </div>
            <div class="show-mobile">
                <button class="btn btn-yellow mt-5 w-100">
                    НАЧАТЬ ОБУЧЕНИЕ
                </button>
            </div>
        </div>
    </div>
</header>

<main>
    <section class="d-flex justify-content-center hide-mobile" style="padding-top: 10%;" class="container-xxl">
        <img src="/assets/media/image/main/Selfree_in_numbers.svg" alt="Top Image"
             style="z-index: 3;width:90% ">
    </section>

    <section class="d-flex justify-content-center align-items-center flex-column mt-5 pt-5" class="container-xxl">
        <p class="font-size-header-text text-center quick-study-text"><b>Быстрое изучение английского <br> языка
                <span class="color-change">стоит на 3 китах</span>:</b></p>
        <p class="fs-2 text-center quick-study-text">Это не просто смелое заявление. Это — факт!</p>



    </section>

    <section class="container-fluid hide-mobile hide-universal">
        <div class="row row-cols-1 row-cols-md-2 mt-5">

            <div class="col" style="padding: 0;">
                <div class=" h-100">
                    <div class="card-body" style="padding: 5em;">
                        <p class="fs-1 mb-5"><b style="color: #7B4DDE">1.Запоминание слов</b></p>
                        <p class="fs-5">Это главная составляющая языка: без слов нельзя ни читать, ни писать, ни
                            понимать, ни говорить, ни даже выполнять упражнения.</p>
                        <div class="d-flex justify-content-center">
                            <div
                                    style="width: calc(100% / 2);  border-radius: 25px; border: 1px #D9D9D9 solid; padding: 20px; margin: 10px;">
                                <p><b>Обычный подход</b></p>
                                <p>Зубрёжка и, как следствие, забывание.</p>
                            </div>
                            <div
                                    style="width: calc(100% / 2);  border-radius: 25px; border: 1px #7B4DDE solid; padding: 20px; margin: 10px;">
                                <p style="color: #7B4DDE"><b>Наш подход</b></p>
                                <p>Запоминание с помощью авторских методик и сохранение в долговременную память.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col" style="padding: 0;">
                <a style="cursor: pointer" data-bs-toggle="modal" data-bs-target="#videoModal1">
                    <div class="h-100 d-flex align-items-center">
                        <div class="card-body containerMainImg">
                            <img class="w-100 bottom-image-header"
                                 src="/assets/media/image/main/card/Video_screen_1.jpg">
                            <img class="middle-image-header" src="/assets/media/image/main/card/Icon_Video.svg">
                        </div>
                    </div>
                </a>
            </div>

            <div class="col" style="padding: 0;">
                <a style="cursor: pointer" data-bs-toggle="modal" data-bs-target="#videoModal2">
                    <div class="h-100 d-flex align-items-center">
                        <div class="card-body containerMainImg">
                            <img class="w-100 bottom-image-header"
                                 src="/assets/media/image/main/card/Video_screen_2.png">
                            <img class="middle-image-header" src="/assets/media/image/main/card/Icon_Video.svg">
                        </div>
                    </div>
                </a>
            </div>

            <div class="col" style="padding: 0;">
                <div class=" h-100">
                    <div class="card-body" style="padding: 5em;">
                        <p class="fs-1 mb-5"><b style="color: #7B4DDE">2.Изучение грамматики</b></p>
                        <p class="fs-5">На это тратится основное время в школе, вузе и на курсах. А ведь грамматика
                            английского — одна из самых простых грамматик в мире..</p>
                        <div class="d-flex justify-content-center">
                            <div
                                    style="width: calc(100% / 2);  border-radius: 25px; border: 1px #D9D9D9 solid; padding: 20px; margin: 10px;">
                                <p><b>Обычный подход</b></p>
                                <p>Бесконечные правила подаются в виде сложного текста и быстро забываются.</p>
                            </div>
                            <div
                                    style="width: calc(100% / 2);  border-radius: 25px; border: 1px #7B4DDE solid; padding: 20px; margin: 10px;">
                                <p style="color: #7B4DDE"><b>Наш подход</b></p>
                                <p>Видео на 5–9 минут, где грамматика объясняется на простых схемах и сразу
                                    выводится в практику выполнения домашнего задания.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col" style="padding: 0;">
                <div class=" h-100">
                    <div class="card-body" style="padding: 5em;">
                        <p class="fs-1 mb-5"><b style="color: #7B4DDE">3.Разговорный навык</b></p>
                        <p class="fs-5">Это конечная цель изучения языка, без вывода в речь слова и грамматика
                            бесполезны и быстро забываются.</p>
                        <div class="d-flex justify-content-center">
                            <div
                                    style="width: calc(100% / 2);  border-radius: 25px; border: 1px #D9D9D9 solid; padding: 20px; margin: 10px;">
                                <p><b>Обычный подход</b></p>
                                <p>Неэффективные упражнения и сложная разговорная практика.</p>
                            </div>
                            <div
                                    style="width: calc(100% / 2);  border-radius: 25px; border: 1px #7B4DDE solid; padding: 20px; margin: 10px;">
                                <p style="color: #7B4DDE"><b>Наш подход</b></p>
                                <p>Авторский речевой тренажёр и правильные домашние аудио-задания, которые
                                    закрепляют ваши знания.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col" style="padding: 0;">
                <a style="cursor: pointer" data-bs-toggle="modal" data-bs-target="#videoModal3">
                    <div class="h-100 d-flex align-items-center">
                        <div class="card-body containerMainImg">
                            <img class="w-100 bottom-image-header"
                                 src="/assets/media/image/main/card/Video_screen_2.png">
                            <img class="middle-image-header" src="/assets/media/image/main/card/Icon_Video.svg">
                        </div>
                    </div>
                </a>
            </div>


        </div>
    </section>

    <section class="show-mobile show-universal">
        <div class=" w-100">

            <div class="margins-quick-study-card">
                <p class="fs-1 mb-5"><b style="color: #7B4DDE">1.Запоминание слов</b></p>
                <p class="fs-5">Это главная составляющая языка: без слов нельзя ни читать, ни писать, ни
                    понимать, ни говорить, ни даже выполнять упражнения.</p>
                <div class="d-flex justify-content-center">
                    <div
                            style="width: calc(100% / 2);  border-radius: 25px; border: 1px #D9D9D9 solid; padding: 20px; margin: 10px;">
                        <p><b>Обычный подход</b></p>
                        <p>Зубрёжка и, как следствие, забывание.</p>
                    </div>
                    <div
                            style="width: calc(100% / 2);  border-radius: 25px; border: 1px #7B4DDE solid; padding: 20px; margin: 10px;">
                        <p style="color: #7B4DDE"><b>Наш подход</b></p>
                        <p>Запоминание с помощью авторских методик и сохранение в долговременную память.</p>
                    </div>
                </div>
            </div>

        </div>

        <div class="card w-100">
            <img class="w-100 bottom-image-header" src="/assets/media/image/main/card/Video_screen_1.jpg">
            <img class="middle-image-header" src="/assets/media/image/main/card/Icon_Video.svg">
        </div>

        <div class=" w-100">
            <div class="margins-quick-study-card">
                <p class="fs-1 mb-5"><b style="color: #7B4DDE">2.Изучение грамматики</b></p>
                <p class="fs-5">На это тратится основное время в школе, вузе и на курсах. А ведь грамматика
                    английского — одна из самых простых грамматик в мире..</p>
                <div class="d-flex justify-content-center">
                    <div
                            style="width: calc(100% / 2);  border-radius: 25px; border: 1px #D9D9D9 solid; padding: 20px; margin: 10px;">
                        <p><b>Обычный подход</b></p>
                        <p>Бесконечные правила подаются в виде сложного текста и быстро забываются.</p>
                    </div>
                    <div
                            style="width: calc(100% / 2);  border-radius: 25px; border: 1px #7B4DDE solid; padding: 20px; margin: 10px;">
                        <p style="color: #7B4DDE"><b>Наш подход</b></p>
                        <p>Видео на 5–9 минут, где грамматика объясняется на простых схемах и сразу
                            выводится в практику выполнения домашнего задания.</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="card w-100">
            <img class="w-100 bottom-image-header" src="/assets/media/image/main/card/Video_screen_1.jpg">
            <img class="middle-image-header" src="/assets/media/image/main/card/Icon_Video.svg">
        </div>

        <div class="w-100">
            <div class="margins-quick-study-card">
                <p class="fs-1 mb-5"><b style="color: #7B4DDE">3.Разговорный навык</b></p>
                <p class="fs-5">Это конечная цель изучения языка, без вывода в речь слова и грамматика
                    бесполезны и быстро забываются.</p>
                <div class="d-flex justify-content-center">
                    <div
                            style="width: calc(100% / 2);  border-radius: 25px; border: 1px #D9D9D9 solid; padding: 20px; margin: 10px;">
                        <p><b>Обычный подход</b></p>
                        <p>Неэффективные упражнения и сложная разговорная практика.</p>
                    </div>
                    <div
                            style="width: calc(100% / 2);  border-radius: 25px; border: 1px #7B4DDE solid; padding: 20px; margin: 10px;">
                        <p style="color: #7B4DDE"><b>Наш подход</b></p>
                        <p>Авторский речевой тренажёр и правильные домашние аудио-задания, которые
                            закрепляют ваши знания.</p>
                    </div>
                </div>
            </div>
        </div>


        <div class="card w-100">
            <img class="w-100 bottom-image-header" src="/assets/media/image/main/card/Video_screen_1.jpg">
            <img class="middle-image-header" src="/assets/media/image/main/card/Icon_Video.svg">
        </div>

    </section>

    <section class="feedback-block container-fluid" style="width: 99%;">
        <a name="cup-of-coffe"></a>
        <div class="row padding-cup-of-coffee mobile-flex">
            <div class="col d-flex flex-column justify-content-center block-cup-of-coffee">
                <div>
                    <p class="title-cup-of-coffee"><b>Стоимость обучения <br> по цене чашки
                            кофе!</b></p>
                </div>

                <div class="card-body containerMainImg d-flex justify-content-center">
                    <div class="container-сup-of-coffee">
                        <img src="/assets/media/image/main/Ellipse_paper-cap-of-coffee.svg"
                             alt="Background Image" class="background-image">
                        <img src="/assets/media/image/main/paper-cap-of-coffee.png" alt="Overlay Image"
                             class="overlay-image">
                    </div>
                </div>

            </div>
            <div class="col d-flex flex-column block-cup-of-coffee">
                <p class="fs-5">Ещё никогда обучение английскому языку не было <br> так доступно, как сейчас.</p>
                <p class="fs-5">Первый урок <b>бесплатно</b>, пока вы решаете хотите <br> присоединиться к
                    онлайн-школе Selfree или нет.</p>
                <form action="" class="js-sendForm">

                    <input class="form-control form-control-lg mb-3" type="text" placeholder="Ваше имя"
                           aria-label=".form-control-lg example" name="client_name">
                    <input class="form-control form-control-lg" type="text" placeholder="Телефон"
                           aria-label=".form-control-lg example" name="client_phone">
                    <input type="hidden" name="client_lang" value="en">
                    <button class="btn btn-yellow mt-5" style="width: 100%;">
                        Подать заявку
                    </button>
                    <p class="pt-3 text-center">Нажимая на кнопку “<b>Подать заявку</b>”, вы даете согласие на
                        обработку своих персональных данных и соглашаетесь с <a>Политикой конфиденциальности</a></p>
                </form>

            </div>
        </div>

        <img src="/assets/media/image/main/titleSELFREE.svg" width="100%">

    </section>

    <section class="zero-out-four ">
        <div>
            <h1 class="text-center pt-5 pb-5 zero-out-four-title"><b>Если так <span
                            style="color: #7B4DDE">просто</span>, то почему <br> учите-учите-учите, а результата
                    ноль?</b>
            </h1>
            <div class="container hide-mobil hide-tablet ">
                <div class="row">
                    <div class="col">
                        <h2 class="text-end"><b>В других местах:</b></h2>
                        <br>
                        <div class="d-flex flex-column">
                            <div class="row">
                                <div class="col-10 text-end fs-5">"Каша из информации" не проходит, а только
                                    усиливается
                                </div>
                                <div class="col-2"> <svg xmlns="http://www.w3.org/2000/svg" width="70" height="70"
                                                         fill="currentColor" class="bi bi-caret-left-fill" viewBox="0 0 16 16">
                                        <path
                                                d="m3.86 8.753 5.482 4.796c.646.566 1.658.106 1.658-.753V3.204a1 1 0 0 0-1.659-.753l-5.48 4.796a1 1 0 0 0 0 1.506z" />
                                    </svg></div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-10 text-end fs-5">Из года в год вы “зубрите язык", а на практике
                                    говорить
                                    свободно так и не научились</div>
                                <div class="col-2"> <svg xmlns="http://www.w3.org/2000/svg" width="70" height="70"
                                                         fill="currentColor" class="bi bi-caret-left-fill" viewBox="0 0 16 16">
                                        <path
                                                d="m3.86 8.753 5.482 4.796c.646.566 1.658.106 1.658-.753V3.204a1 1 0 0 0-1.659-.753l-5.48 4.796a1 1 0 0 0 0 1.506z" />
                                    </svg></div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-10 text-end fs-5">Свыше 200 000 ₽ потрачено, а результат 0 </div>
                                <div class="col-2"> <svg xmlns="http://www.w3.org/2000/svg" width="70" height="70"
                                                         fill="currentColor" class="bi bi-caret-left-fill" viewBox="0 0 16 16">
                                        <path
                                                d="m3.86 8.753 5.482 4.796c.646.566 1.658.106 1.658-.753V3.204a1 1 0 0 0-1.659-.753l-5.48 4.796a1 1 0 0 0 0 1.506z" />
                                    </svg></div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-10 text-end fs-5">Мотивация на нуле, большинство бросают обучение не
                                    достигнув желаемого результата</div>
                                <div class="col-2"> <svg xmlns="http://www.w3.org/2000/svg" width="70" height="70"
                                                         fill="currentColor" class="bi bi-caret-left-fill" viewBox="0 0 16 16">
                                        <path
                                                d="m3.86 8.753 5.482 4.796c.646.566 1.658.106 1.658-.753V3.204a1 1 0 0 0-1.659-.753l-5.48 4.796a1 1 0 0 0 0 1.506z" />
                                    </svg></div>
                            </div>

                        </div>

                    </div>
                    <div class="col-3 d-flex">
                        <img src="/assets/media/image/main/Photoroom04.svg">
                    </div>
                    <div class="col">
                        <h2><b>У нас в Selfree:</b></h2>
                        <br>

                        <div class="d-flex flex-column">
                            <div class="row">
                                <div class="col-2"> <svg xmlns="http://www.w3.org/2000/svg" width="70" height="70"
                                                         fill="currentColor" class="bi bi-caret-right-fill" viewBox="0 0 16 16">
                                        <path
                                                d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"
                                                fill="#7B4DDE" />
                                    </svg></div>
                                <div class="col-10 fs-5">Системный и структурный подход к теории </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-2"> <svg xmlns="http://www.w3.org/2000/svg" width="70" height="70"
                                                         fill="currentColor" class="bi bi-caret-right-fill" viewBox="0 0 16 16">
                                        <path
                                                d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"
                                                fill="#7B4DDE" />
                                    </svg></div>
                                <div class="col-10 fs-5">Вам не нужно ничего "ЗУБРИТЬ", мы учим вас понимать и
                                    думать на
                                    английском языке </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-2"> <svg xmlns="http://www.w3.org/2000/svg" width="70" height="70"
                                                         fill="currentColor" class="bi bi-caret-right-fill" viewBox="0 0 16 16">
                                        <path
                                                d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"
                                                fill="#7B4DDE" />
                                    </svg></div>
                                <div class="col-10 fs-5">Доступная цена. Возможна рассрочка платежей </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-2"> <svg xmlns="http://www.w3.org/2000/svg" width="70" height="70"
                                                         fill="currentColor" class="bi bi-caret-right-fill" viewBox="0 0 16 16">
                                        <path
                                                d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"
                                                fill="#7B4DDE" />
                                    </svg></div>
                                <div class="col-10 fs-5">Поддерживаем огонь в глазах наших студентов</div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--===================================================================================-->
        <div class="container show-mobile show-tablet">
            <div>
                <h2><b>В других местах:</b></h2>
                <br>
                <div class="d-flex flex-column">
                    <div class="row">
                        <div class="col-2">
                            <svg xmlns="http://www.w3.org/2000/svg" width="70" height="70" fill="currentColor"
                                 class="bi bi-caret-right-fill" viewBox="0 0 16 16">
                                <path
                                        d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z" />
                            </svg>
                        </div>
                        <div class="col-10  fs-5">"Каша из информации" не проходит, а только
                            усиливается
                        </div>

                    </div>
                    <br>
                    <div class="row">
                        <div class="col-2">
                            <svg xmlns="http://www.w3.org/2000/svg" width="70" height="70" fill="currentColor"
                                 class="bi bi-caret-right-fill" viewBox="0 0 16 16">
                                <path
                                        d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z" />
                            </svg>
                        </div>
                        <div class="col-10  fs-5">Из года в год вы “зубрите язык", а на практике
                            говорить
                            свободно так и не научились</div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-2">
                            <svg xmlns="http://www.w3.org/2000/svg" width="70" height="70" fill="currentColor"
                                 class="bi bi-caret-right-fill" viewBox="0 0 16 16">
                                <path
                                        d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z" />
                            </svg>
                        </div>
                        <div class="col-10 fs-5">Свыше 200 000 ₽ потрачено, а результат 0 </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-2">
                            <svg xmlns="http://www.w3.org/2000/svg" width="70" height="70" fill="currentColor"
                                 class="bi bi-caret-right-fill" viewBox="0 0 16 16">
                                <path
                                        d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z" />
                            </svg>
                        </div>
                        <div class="col-10  fs-5">Мотивация на нуле, большинство бросают обучение не
                            достигнув желаемого результата</div>

                    </div>

                </div>
            </div>

            <div class="d-flex justify-content-center pt-5 pb-5"> <img
                        src="/assets/media/image/main/Photoroom04.svg"> </div>

            <div class="col">
                <h2><b>У нас в Selfree:</b></h2>
                <br>

                <div class="d-flex flex-column">
                    <div class="row">
                        <div class="col-2"> <svg xmlns="http://www.w3.org/2000/svg" width="70" height="70"
                                                 fill="currentColor" class="bi bi-caret-right-fill" viewBox="0 0 16 16">
                                <path
                                        d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"
                                        fill="#7B4DDE" />
                            </svg></div>
                        <div class="col-10 fs-5">Системный и структурный подход к теории </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-2"> <svg xmlns="http://www.w3.org/2000/svg" width="70" height="70"
                                                 fill="currentColor" class="bi bi-caret-right-fill" viewBox="0 0 16 16">
                                <path
                                        d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"
                                        fill="#7B4DDE" />
                            </svg></div>
                        <div class="col-10 fs-5">Вам не нужно ничего "ЗУБРИТЬ", мы учим вас понимать и
                            думать на
                            английском языке </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-2"> <svg xmlns="http://www.w3.org/2000/svg" width="70" height="70"
                                                 fill="currentColor" class="bi bi-caret-right-fill" viewBox="0 0 16 16">
                                <path
                                        d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"
                                        fill="#7B4DDE" />
                            </svg></div>
                        <div class="col-10 fs-5">Доступная цена. Возможна рассрочка платежей </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-2"> <svg xmlns="http://www.w3.org/2000/svg" width="70" height="70"
                                                 fill="currentColor" class="bi bi-caret-right-fill" viewBox="0 0 16 16">
                                <path
                                        d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"
                                        fill="#7B4DDE" />
                            </svg></div>
                        <div class="col-10 fs-5">Поддерживаем огонь в глазах наших студентов</div>
                    </div>

                </div>
            </div>

        </div>
        <div class="d-flex justify-content-center mt-5 zero-out-four-button">
            <a href="#tariff" class="btn btn-purple">
                УЗНАТЬ СТОИМОСТЬ
            </a>
        </div>
        <!--  ================================================================================-->

        <img class="hide-mobile hide-tablet" src="/assets/media/image/main/ball_1.svg"
             style="position: relative; left:5em; top:100px">
    </section>

    <section>
        <div class="d-flex justify-content-center hide-mobile">
            <img src="/assets/media/image/main/Higher_by_1_level.svg" style="width: 80%;  ">
        </div>
    </section>

    <section class="pt-5 teachers-block container-fluid hide-mobile">
        <h1 class="text-center"><b>Лучшие — в своём деле</b></h1>
        <div class="d-flex justify-content-center">
            <img src="/assets/media/image/main/team.svg" style="width: 80%; ">
        </div>
    </section>

    <section class="pt-5 teachers-block container-fluid show-mobile">
        <h1 class="text-center"><b>Лучшие — в своём деле</b></h1>
        <div class="d-flex justify-content-center ">
            <img src="/assets/media/image/main/team2.svg">
        </div>
    </section>

    <section class="row lesson-block container-fluid">
        <div class="col d-flex justify-content-center"><img src="/assets/media/image/main/In_each_lesson.svg"
                                                            style="min-width: 500px; "></div>
        <div class="col " style="padding-right:0em">
            <h1 class="lesson-block-title"><b>В каждом уроке:</b></h1>
            <div class="row row-cols-1 row-cols-md-2 g-4 lesson-block-card">
                <div class="col">
                    <div class="h-100">
                        <div class="card-body d-flex">
                            <img class="pe-3" src="/assets/media/image/main/in_each_lesson/video-icon.svg">
                            <p class="card-text">Видео обучающий<br>материал</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="h-100">
                        <div class="card-body d-flex">
                            <img class="pe-3" src="/assets/media/image/main/in_each_lesson/icon-book.svg">
                            <p class="card-text">Словарь к уроку и<br>методический материал </p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="h-100">
                        <div class="card-body d-flex">
                            <img class="pe-3"
                                 src="/assets/media/image/main/in_each_lesson/icon-bookAndPen.svg">
                            <p class="card-text">3 домашних задания<br>для закрепления знаний</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="h-100">
                        <div class="card-body d-flex">
                            <img class="pe-3"
                                 src="/assets/media/image/main/in_each_lesson/icon-dumbbells.svg">
                            <p class="card-text">Авторские<br>тренажеры и<br>методики</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="hide-mobile">
                <div class="lesson-block-bigCard d-flex">
                    <img src="/assets/media/image/main/in_each_lesson/icon-people.svg">
                </div>
            </div>
            <div class="show-mobile">
                <div class="lesson-block-bigCard d-flex ">
                    <img src="/assets/media/image/main/in_each_lesson/icon-people-mobile.svg">
                </div>
            </div>

        </div>
    </section>

    <section class="row reviews-block container-fluid hide-mobile">
        <a name="reviews"></a>
        <div style="padding-top: 10em;padding-left: 10em;padding-right: 10em;padding-bottom: 5em;">
            <h1 class="" style="font-size: 60px;">
                <b>
                    Учитывая <span style="color: #7B4DDE">ваши пожелания</span>,<br> добиваемся лучших результатов
                </b>
            </h1>
            <div class="pt-3 pb-3">Листайте вправо <img src="/assets/media/image/main/arrow.svg"></div>
        </div>


        <div class="carouselReviews">
            <div class="megamenu">
                <div class="pt-2 d-flex justify-content-center">

                    <div style="position: relative; top:-85px">
                        <img style="position: relative ; left: 30%; top:70px ;width: 120px;border-radius: 100px;border: 15px solid #E7EDFA;"
                             src="/assets/media/image/main/reviews/Client_1.png">
                        <div class="reviews-card m-2">
                            <div style="position: relative ; top:75px ; " class="d-flex flex-column">
                                <div style="color:#7B4DDE" class="text-center">Марина А.</div>
                                <div class="text-center" style="opacity: 0.8;">С нами уже 2 месяца</div>
                                <p class="p-3">Очень доброжелательно и приветливо. Соотношение цена качество на высоте! Рекомендую)</p>
                            </div>
                        </div>
                    </div>
                    <div style="position: relative; top:-85px">
                        <img style="position: relative ; left: 30%; top:70px ;width: 120px;border-radius: 100px;border: 15px solid #E7EDFA;"
                             src="/assets/media/image/main/reviews/Client_2.png">
                        <div class="reviews-card m-2">
                            <div style="position: relative ; top:75px " class="d-flex flex-column">
                                <div style="color:#7B4DDE" class="text-center">Марина А.</div>
                                <div class="text-center" style="opacity: 0.8;">С нами с 2021 года</div>
                                <p class="p-3">Хочу выразить благодарность в первую очередь нашему преподавателю.
                                    Виктория,
                                    спасибо Вам за Ваш профессионализм, за знания, которые получает мой...</p>
                            </div>
                        </div>
                    </div>
                    <div style="position: relative; top:-85px">
                        <img style="position: relative ; left: 30%; top:70px ;width: 120px;border-radius: 100px;border: 15px solid #E7EDFA;"
                             src="/assets/media/image/main/reviews/Client_3.png">
                        <div class="reviews-card m-2">
                            <div style="position: relative ; top:75px " class="d-flex flex-column">
                                <div style="color:#7B4DDE" class="text-center">Марина А.</div>
                                <div class="text-center" style="opacity: 0.8;">С нами с 2020 года</div>
                                <p class="p-3">Добрый день! Как-то раз моя дочь приходит домой с загоревшими и очень радостными глазами. Моя дочь была волонтером на чемпионате мира по футболу..</p>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>


    </section>

    <a name="tariff"></a>
    <section class="container tariff hide-mobile ">
        <div class="row row-cols-1 row-cols-md-3 g-4">
            <div class="col">
                <div class="col tariff-cards ">
                    <div class="tariff-cards-header-1 d-flex flex-column align-items-center p-4">
                        <div>Тариф</div>
                        <div><b>САМОСТОЯТЕЛЬНЫЙ</b></div>
                    </div>

                    <div style="position: relative; top:-50px;">
                        <p class="text-center"><b>Без обратной видео-связи
                                от преподавателя</b></p>
                        <div>
                            <ul style="text-align: left;" class="color-purple ">
                                <li><span>Доступ к курсу на 3 месяца</span></li>
                                <li><span>60 занятий</span> по разбору звуков, грамматических конструкций и полезной
                                    лексики</li>
                                <li><span>1 групповой эфир</span> КАЖДУЮ НЕДЕЛЮ с преподавателем (1-1,5 часа в Zoom)
                                </li>
                                <li><span>Персональный куратор по тех. вопросам</span> (не преподаватель) на
                                    протяжении всего курса</li>
                                <li style="opacity: 0.7;"><s><span>Преподаватель</span> обращает внимание не только
                                        на ваши грамматические и
                                        лексические ошибки, но и
                                        <span>корректирует ваше произношение</span>, даёт дополнительные упражнения,
                                        чтобы его улучшить</s>
                                </li>
                                <li style="opacity: 0.7;"><s><span>Проверка ДЗ от преподавателей</span> и
                                        отслеживание прогресса в личном
                                        кабинете</s></li>
                                <li style="opacity: 0.7;"><s><span>Выпускную работу принимает носитель языка</span>
                                        по видео связи</s></li>

                            </ul>

                        </div>
                        <div class="d-flex">
                            <img width="100%" src="/assets/media/image/main/tariffs_cards/CardSuren1.svg">
                        </div>
                        <div>
                            <img width="100%" src="/assets/media/image/main/tariffs_cards/CardBonus1.svg">
                        </div>
                        <div class="d-flex justify-content-center pt-3 pb-3">
                            <span class="font-size-price"><b>47 300 ₽</b></span>
                        </div>

                        <a href="#cup-of-coffe" class="btn btn-purple w-100">
                            ВЫБРАТЬ ТАРИФ
                        </a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="col tariff-cards ">
                    <div class="tariff-cards-header-2 d-flex flex-column align-items-center p-4">
                        <div>Тариф</div>
                        <div><b>САМОСТОЯТЕЛЬНЫЙ</b></div>
                    </div>

                    <div style="position: relative; top:-50px;">
                        <p class="text-center"><b>Без обратной видео-связи
                                от преподавателя</b></p>
                        <div>
                            <ul style="text-align: left;" class="color-broun">
                                <li><span>Доступ к курсу на 3 месяца</span></li>
                                <li><span>60 занятий</span> по разбору звуков, грамматических конструкций и полезной
                                    лексики</li>
                                <li><span>1 групповой эфир</span> КАЖДУЮ НЕДЕЛЮ с преподавателем (1-1,5 часа в Zoom)
                                </li>
                                <li><span>Персональный куратор по тех. вопросам</span> (не преподаватель) на
                                    протяжении всего курса</li>
                                <li><span>Преподаватель</span> обращает внимание не только на ваши грамматические и
                                    лексические ошибки, но и
                                    <span>корректирует ваше произношение</span>, даёт дополнительные упражнения,
                                    чтобы его улучшить
                                </li>
                                <li><span>Проверка ДЗ от преподавателей</span> и отслеживание прогресса в личном
                                    кабинете</li>
                                <li><span>Выпускную работу принимает носитель языка</span> по видео связи</li>

                            </ul>

                        </div>
                        <div class="d-flex">
                            <img width="100%" src="/assets/media/image/main/tariffs_cards/CardSuren2.svg">
                        </div>
                        <div>
                            <img width="100%" src="/assets/media/image/main/tariffs_cards/CardBonus2.svg">
                        </div>
                        <div class="d-flex justify-content-center pt-3 pb-3">
                            <span class="font-size-price"><b>59 500 ₽</b></span>
                        </div>

                        <a href="#cup-of-coffe" class="btn btn-broun-tariff w-100">
                            ВЫБРАТЬ ТАРИФ
                        </a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="col tariff-cards ">
                    <div class="tariff-cards-header-3 d-flex flex-column align-items-center p-4">
                        <div>Тариф</div>
                        <div><b>САМОСТОЯТЕЛЬНЫЙ</b></div>
                    </div>

                    <div style="position: relative; top:-50px;">
                        <p class="text-center"><b>Без обратной видео-связи
                                от преподавателя</b></p>
                        <div>
                            <ul style="text-align: left;" class="color-purple">
                                <li><span>Доступ к курсу на 3 месяца</span></li>
                                <li><span>60 занятий</span> по разбору звуков, грамматических конструкций и полезной
                                    лексики</li>
                                <li><span>1 групповой эфир</span> КАЖДУЮ НЕДЕЛЮ с преподавателем (1-1,5 часа в Zoom)
                                </li>
                                <li><span>Персональный куратор по тех. вопросам</span> (не преподаватель) на
                                    протяжении всего курса</li>
                                <li><span>Преподаватель</span> обращает внимание не только на ваши грамматические и
                                    лексические ошибки, но и
                                    <span>корректирует ваше произношение</span>, даёт дополнительные упражнения,
                                    чтобы его улучшить
                                </li>
                                <li><span>Проверка ДЗ от преподавателей</span> и отслеживание прогресса в личном
                                    кабинете</li>
                                <li><span>Выпускную работу принимает носитель языка</span> по видео связи</li>

                            </ul>

                        </div>
                        <div class="d-flex">
                            <img width="100%" src="/assets/media/image/main/tariffs_cards/CardSuren3.svg">
                        </div>
                        <div>
                            <img width="100%" src="/assets/media/image/main/tariffs_cards/CardBonus3.svg">
                        </div>
                        <div class="d-flex justify-content-center pt-3 pb-3">
                            <span class="font-size-price"><b>73 900 ₽</b></span>
                        </div>

                        <a href="#cup-of-coffe" class="btn btn-yellow-tariff w-100">
                            ВЫБРАТЬ ТАРИФ
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="container tariff-mobile show-mobile">
        <div id="carouselExampleControlsNoTouching" class="carousel slide" data-bs-touch="false"
             data-bs-interval="false">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="col">
                        <div class="col tariff-cards ">
                            <div class="tariff-cards-header-1 d-flex flex-column align-items-center p-4"
                                 style="top:0;">
                                <div>Тариф</div>
                                <div><b>САМОСТОЯТЕЛЬНЫЙ</b></div>
                            </div>

                            <div style="position: relative; top:2em;">
                                <p class="text-center"><b>Без обратной видео-связи
                                        от преподавателя</b></p>
                                <div>
                                    <ul style="text-align: left;" class="color-purple ">
                                        <li><span>Доступ к курсу на 3 месяца</span></li>
                                        <li><span>60 занятий</span> по разбору звуков, грамматических конструкций и
                                            полезной
                                            лексики</li>
                                        <li><span>1 групповой эфир</span> КАЖДУЮ НЕДЕЛЮ с преподавателем (1-1,5 часа
                                            в Zoom)
                                        </li>
                                        <li><span>Персональный куратор по тех. вопросам</span> (не преподаватель) на
                                            протяжении всего курса</li>
                                        <li style="opacity: 0.7;"><s><span>Преподаватель</span> обращает внимание не
                                                только
                                                на ваши грамматические и
                                                лексические ошибки, но и
                                                <span>корректирует ваше произношение</span>, даёт дополнительные
                                                упражнения,
                                                чтобы его улучшить</s>
                                        </li>
                                        <li style="opacity: 0.7;"><s><span>Проверка ДЗ от преподавателей</span> и
                                                отслеживание прогресса в личном
                                                кабинете</s></li>
                                        <li style="opacity: 0.7;"><s><span>Выпускную работу принимает носитель
                                                        языка</span>
                                                по видео связи</s></li>

                                    </ul>

                                </div>
                                <div class="d-flex">
                                    <img width="100%"
                                         src="/assets/media/image/main/tariffs_cards/CardSuren1.svg">
                                </div>
                                <div>
                                    <img width="100%"
                                         src="/assets/media/image/main/tariffs_cards/CardBonus1.svg">
                                </div>
                                <div class="d-flex justify-content-center pt-3 pb-3">
                                    <span class="font-size-price"><b>47 300 ₽</b></span>
                                </div>

                                <button class="btn btn-purple w-100 mb-5">
                                    ВЫБРАТЬ ТАРИФ
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="col">
                        <div class="col tariff-cards ">
                            <div class="tariff-cards-header-2 d-flex flex-column align-items-center p-4"
                                 style="top:0">
                                <div>Тариф</div>
                                <div><b>САМОСТОЯТЕЛЬНЫЙ</b></div>
                            </div>

                            <div style="position: relative; top:2em;">
                                <p class="text-center"><b>Без обратной видео-связи
                                        от преподавателя</b></p>
                                <div>
                                    <ul style="text-align: left;" class="color-broun">
                                        <li><span>Доступ к курсу на 3 месяца</span></li>
                                        <li><span>60 занятий</span> по разбору звуков, грамматических конструкций и
                                            полезной
                                            лексики</li>
                                        <li><span>1 групповой эфир</span> КАЖДУЮ НЕДЕЛЮ с преподавателем (1-1,5 часа
                                            в Zoom)
                                        </li>
                                        <li><span>Персональный куратор по тех. вопросам</span> (не преподаватель) на
                                            протяжении всего курса</li>
                                        <li><span>Преподаватель</span> обращает внимание не только на ваши
                                            грамматические и
                                            лексические ошибки, но и
                                            <span>корректирует ваше произношение</span>, даёт дополнительные
                                            упражнения,
                                            чтобы его улучшить
                                        </li>
                                        <li><span>Проверка ДЗ от преподавателей</span> и отслеживание прогресса в
                                            личном
                                            кабинете</li>
                                        <li><span>Выпускную работу принимает носитель языка</span> по видео связи
                                        </li>

                                    </ul>

                                </div>
                                <div class="d-flex">
                                    <img width="100%"
                                         src="/assets/media/image/main/tariffs_cards/CardSuren2.svg">
                                </div>
                                <div>
                                    <img width="100%"
                                         src="/assets/media/image/main/tariffs_cards/CardBonus2.svg">
                                </div>
                                <div class="d-flex justify-content-center pt-3 pb-3">
                                    <span class="font-size-price"><b>59 500 ₽</b></span>
                                </div>

                                <button class="btn btn-broun-tariff w-100 mb-5">
                                    ВЫБРАТЬ ТАРИФ
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="col">
                        <div class="col tariff-cards ">
                            <div class="tariff-cards-header-3 d-flex flex-column align-items-center p-4"
                                 style="top:0">
                                <div>Тариф</div>
                                <div><b>САМОСТОЯТЕЛЬНЫЙ</b></div>
                            </div>

                            <div style="position: relative; top:2em;">
                                <p class="text-center"><b>Без обратной видео-связи
                                        от преподавателя</b></p>
                                <div>
                                    <ul style="text-align: left;" class="color-purple">
                                        <li><span>Доступ к курсу на 3 месяца</span></li>
                                        <li><span>60 занятий</span> по разбору звуков, грамматических конструкций и
                                            полезной
                                            лексики</li>
                                        <li><span>1 групповой эфир</span> КАЖДУЮ НЕДЕЛЮ с преподавателем (1-1,5 часа
                                            в Zoom)
                                        </li>
                                        <li><span>Персональный куратор по тех. вопросам</span> (не преподаватель) на
                                            протяжении всего курса</li>
                                        <li><span>Преподаватель</span> обращает внимание не только на ваши
                                            грамматические и
                                            лексические ошибки, но и
                                            <span>корректирует ваше произношение</span>, даёт дополнительные
                                            упражнения,
                                            чтобы его улучшить
                                        </li>
                                        <li><span>Проверка ДЗ от преподавателей</span> и отслеживание прогресса в
                                            личном
                                            кабинете</li>
                                        <li><span>Выпускную работу принимает носитель языка</span> по видео связи
                                        </li>

                                    </ul>

                                </div>
                                <div class="d-flex">
                                    <img width="100%"
                                         src="/assets/media/image/main/tariffs_cards/CardSuren3.svg">
                                </div>
                                <div>
                                    <img width="100%"
                                         src="/assets/media/image/main/tariffs_cards/CardBonus3.svg">
                                </div>
                                <div class="d-flex justify-content-center pt-3 pb-3">
                                    <span class="font-size-price"><b>73 900 ₽</b></span>
                                </div>

                                <button class="btn btn-yellow-tariff w-100 mb-5">
                                    ВЫБРАТЬ ТАРИФ
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControlsNoTouching"
                    data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControlsNoTouching"
                    data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </section>

    <section class="container-fluid">
        <p style="font-size: 3em; text-align: center; padding-top: 2em;" class="pb-5">
            <b>С нами выгодно!</b>
        </p>

        <div class="row ">
            <div class="col benefit left d-flex flex-column justify-content-between"
                 style="background-color: #E7EDFA">
                <div>
                    <p class="fs-1" style="color:#7B4DDE"><b>Одобрим рассрочку без переплат!</b></p>
                    <p class="pt-3 fs-5">Для наших студентов действует беспроцентная рассрочка.</p>
                </div>
                <div class="d-flex flex-column">
                    <div>
                        <img src="/assets/media/image/main/benefit/calendar.svg">
                    </div>
                    <div>
                        <a href="#cup-of-coffe" class="btn btn-purple w-50">
                            ВЫБРАТЬ ТАРИФ
                        </a>
                    </div>
                </div>
            </div>
            <div class="col benefit right d-flex flex-column justify-content-between"
                 style="background-color: #7B4DDE">
                <div>
                    <p class="fs-1" style="color:white"><b>Вернём 13% от стоимости обучения!</b></p>
                    <p class="pt-3 fs-5" style="color: white;">У нашей школы есть образовательная лицензия,
                        благодаря которой вы можете каждый год* получать обратно 13% от стоимости курсов за счёт
                        налогового вычета.</p>
                </div>
                <div>
                    <img src="/assets/media/image/main/benefit/flying_percentage.svg">
                    <p style="opacity: 0.5; color:white">* за покупки с 1 января 2024 года</p>
                    <a href="#cup-of-coffe" class="btn btn-yellow-tariff w-50">
                        ВЫБРАТЬ ТАРИФ
                    </a>
                </div>
            </div>
        </div>

    </section>
    <section class="relevantQuestions">
        <div class="container">
            <div class="relevantQuestionsInner">
                <div class="relevantQuestionsContent">
                    <div class="relevantQuestionsTitle">
                        Самые частые вопросы
                    </div>
                    <div class="relevantQuestionsContainer">
                        <div class="relevantQuestionsLine"></div>
                        <div class="relevantQuestionsBlock">
                            <div class="relevantQuestionsBlock__titleElem">
                                <div class="relevantQuestionsBlock__title">
                                        <span class="textHighlightNormal ">
                                            <p class="textHighlightNormal__text">
                                                Что такое пробное занятие?
                                            </p>
                                        </span>
                                </div>
                                <div class="relevantQuestionsBlock__button">
                                </div>
                            </div>
                            <div class="answerTextContainer">
                                <div
                                        class="relevantQuestionsBlock__answerText relevantQuestionsBlock__answerText_state_hidden">
                                    На пробном занятии преподаватель расскажет тебе про нашу школу, познакомит с
                                    форматом обучения и поможет определить уровень и цели. Это бесплатно и займёт
                                    30–40 минут.
                                </div>
                            </div>

                        </div>
                        <div class="relevantQuestionsLine"></div>
                        <div class="relevantQuestionsBlock">
                            <div class="relevantQuestionsBlock__titleElem">
                                <div class="relevantQuestionsBlock__title">
                                        <span class="textHighlightNormal">
                                            <p class="textHighlightNormal__text">
                                                А за какой промежуток я достигну уровня С1?
                                            </p>
                                        </span>
                                </div>
                                <div class="relevantQuestionsBlock__button">
                                </div>
                            </div>
                            <div class="answerTextContainer">
                                <div
                                        class="relevantQuestionsBlock__answerText relevantQuestionsBlock__answerText_state_hidden">
                                    Выучить язык за день нереально. Наш опыт говорит о том, чтобы достичь точки
                                    невозврата и уверенно овладеть языком необходимо не меньше, чем 1 год. Главное
                                    правило для успешного изучания иностранного языка в нашей школе - не пропускать
                                    уроки и выполнять каждую домашку.
                                </div>
                            </div>

                        </div>
                        <div class="relevantQuestionsLine"></div>
                        <div class="relevantQuestionsBlock">
                            <div class="relevantQuestionsBlock__titleElem">
                                <div class="relevantQuestionsBlock__title">
                                        <span class="textHighlightNormal">
                                            <p class="textHighlightNormal__text">
                                                Я смогу выбрать преподавателя?
                                            </p>
                                        </span>
                                </div>
                                <div class="relevantQuestionsBlock__button">
                                </div>
                            </div>
                            <div class="answerTextContainer">
                                <div
                                        class="relevantQuestionsBlock__answerText relevantQuestionsBlock__answerText_state_hidden">
                                    Конечно! У нас много преподавателей и мы подберем тебе подходящего исходя из
                                    твоих интересов и целей.
                                </div>
                            </div>

                        </div>
                        <div class="relevantQuestionsLine"></div>
                        <div class="relevantQuestionsBlock">
                            <div class="relevantQuestionsBlock__titleElem">
                                <div class="relevantQuestionsBlock__title">
                                        <span class="textHighlightNormal">
                                            <p class="textHighlightNormal__text">
                                                Не получается прийти на урок, можно ли перенести занятие?
                                            </p>
                                        </span>
                                </div>
                                <div class="relevantQuestionsBlock__button">
                                </div>
                            </div>
                            <div class="answerTextContainer">
                                <div
                                        class="relevantQuestionsBlock__answerText relevantQuestionsBlock__answerText_state_hidden">
                                    Можно. Если заболеете или решите отдохнуть, можно перенести или отменить занятие
                                    за 5 часов до назначенного времени без потери оплаты. Так ты сможешь
                                    переназначить его на удобное время, а у преподавателя останется возможность
                                    скорректировать расписание.
                                </div>
                            </div>

                        </div>
                        <div class="relevantQuestionsLine"></div>
                        <div class="relevantQuestionsBlock">
                            <div class="relevantQuestionsBlock__titleElem">
                                <div class="relevantQuestionsBlock__title">
                                        <span class="textHighlightNormal">
                                            <p class="textHighlightNormal__text">
                                                А если я перенесу занятие, то оно «сгорит»?
                                            </p>
                                        </span>
                                </div>
                                <div class="relevantQuestionsBlock__button">
                                </div>
                            </div>
                            <div class="answerTextContainer">
                                <div
                                        class="relevantQuestionsBlock__answerText relevantQuestionsBlock__answerText_state_hidden">
                                    В рамках нашей учебной программы действует <span class="mainText_fw_700">
                                            депозит
                                        </span>.
                                    А это значит, что количество уроков, рассчитанных и оплаченных по программе на
                                    месяц должны быть пройдены в течение данного месяца. <span
                                            class="mainText_fw_700">
                                            Пропущенные уроки
                                        </span>
                                    по истечению месяца сгорают :(

                                    Но у вас есть возможность объединять уроки или переносить на удобные для вас и
                                    преподавателя дату и время.
                                </div>
                            </div>

                        </div>
                        <div class="relevantQuestionsLine"></div>
                    </div>
                </div>

            </div>
        </div>
    </section>

    <section class="socialNetwork">
        <div class="fs-1 text-center">
            <b>Не увидели своего вопроса в списке?</b>
        </div>
        <div class="text-center fs-3">
            <p>Пишите нам — ответим, даже на самые неудобные :)</p>
        </div>
        <div class="d-flex justify-content-center mobile-position-socialNetwork">
            <a href="https://t.me/selfree_call_center_bot" class="m-3 btn btn-info socialNetwork-btn">TELEGRAM</a>
            <a href="https://vk.com/selfreeschool" class="m-3 btn btn-primary socialNetwork-btn">ВКОНТАКТЕ</a>
            <a href="https://wa.me/79034012401" class="m-3 btn btn-success socialNetwork-btn">WHATSAPP</a>
        </div>
    </section>

</main>

<footer class="footer">
    <div class="container">
        <div class="footerInner">
            <div class="footerContent">
                <div class="infoRowFooter">
                    <a href="/">
                        <img class="logoSlogan lazyload"
                             data-src="/assets/media/image/mainPage/footer/logoSlogan.png" alt="Logo Slogan"
                             src="/assets/media/image/mainPage/footer/logoSlogan.png">
                    </a>
                    <div class="linksFooterGroup">



                    </div>

                    <div class="companyNumber">
                        <div class="companyNumber__num" data-hystmodal="#aboutNumber">+7 863 207-10-01</div>
                        <div class="companyNumber__text" data-hystmodal="#aboutNumber">ЗАКАЗАТЬ ОБРАТНЫЙ ЗВОНОК
                        </div>
                    </div>
                </div>
                <div class="socialsFooter">
                    <a href="https://vk.com/selfreeschool">
                        <img class="socialPhoto lazyload" data-src="/assets/media/image/mainPage/footer/vk.png"
                             alt="vk" src="/assets/media/image/mainPage/footer/vk.png">
                    </a>
                    <a href="https://t.me/selfree_call_center_bot">
                        <img class="socialPhoto lazyload" data-src="/assets/media/image/mainPage/footer/tg.png"
                             alt="telegram" src="/assets/media/image/mainPage/footer/tg.png">
                    </a>

                </div>
                <div class="footerLine"></div>
                <div class="companyConfidentials">
                    <div class="companyTitle">
                        ©SELFREE 2024
                    </div>

                    <a class="confidentialPolicy" href="https://selfree-global.ru/privacy-policy">Политика конфиденциальности</a>
                    <a class="confidentialPolicy" href="https://selfree-global.ru/organization">Информация об организации</a>
                    <a class="confidentialPolicy" href="/contract-offer">Договор оферты</a>
                </div>
            </div>
        </div>
    </div>
</footer>


<div class="offcanvas offcanvas-end mobile-menu" tabindex="-1" id="offcanvasRight"
     aria-labelledby="offcanvasRightLabel">
    <div class="offcanvas-header justify-content-end">

        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="#7B4DDE" class="bi bi-x-lg"
             viewBox="0 0 16 16" data-bs-dismiss="offcanvas" aria-label="Close">
            <path
                    d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8z" />
        </svg>

    </div>
    <div class="offcanvas-body d-flex justify-content-between flex-column" style="padding: 0; border-radius: 0;">
        <div class="card " style="width: 100%;">
            <ul class="list-group list-group-flush">
                <a href="#about_the_course" style="text-decoration: none;"><li style="background-color: #E7EDFA; border-top: 3px solid white;"
                                                                               class="list-group-item fs-4 p-3">О курсе</li></a>
                <a href="#tariff" style="text-decoration: none;"><li style="background-color: #E7EDFA; border-top: 3px solid white; border-bottom: 3px solid white; "
                                                                     class="list-group-item fs-4 p-3" >Тарифы</li></a>
            </ul>
        </div>
        <a class="btn btn-purple mb-5 ms-3 me-3" href="#cup-of-coffe">
            ПОПРОБОВАТЬ БЕСПЛАТНО
        </a>
    </div>
</div>


<!-- Модальные окна для видео -->
<!-- Modal 1 -->
<div class="modal fade" id="videoModal1" tabindex="-1" aria-labelledby="videoModalLabel1" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="videoModalLabel1">Video 1</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="embed-responsive embed-responsive-16by9">
                    <video controls class="w-100" src="/assets/media/video/reviews/surenVideo.MOV"></video>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal 2 -->
<div class="modal fade" id="videoModal2" tabindex="-1" aria-labelledby="videoModalLabel2" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="videoModalLabel2">Video 2</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="embed-responsive embed-responsive-16by9">
                    <video src=""></video>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal 3 -->
<div class="modal fade" id="videoModal3" tabindex="-1" aria-labelledby="videoModalLabel3" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="videoModalLabel3">Video 3</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="embed-responsive embed-responsive-16by9">
                    <video></video>
                </div>
            </div>
        </div>
    </div>
</div>


<div id="test"></div>
<script defer="" src="/assets/script/hystmodal.min.js"></script>
<script defer="" src="/assets/script/plyr.js"></script>
<script defer="" src="/assets/script/index.js"></script>


<script defer="" src="/assets/script/courseFormSend.js"></script>


</body>



</html>